{{.Heading}}

{{.Intro}}

{{.ButtonLabel}}:
{{.Link}}

{{.Footnote}}

--
{{.AppName}}
{{.AppURL}}
You received this email because it was requested for your {{.AppName}} account. If it wasn't you, no action is needed.
